.wy-nav-content {
  max-width: 900px;
}

p {
  margin-bottom: 10px;
}

table {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
}

td {
  color: #e0e0e0;
  padding: 4px;
}

th {
  color: #e0e0e0;
  background: #1C2840;
  font-weight: 700;
  padding: 4px;
}

div.wy-side-nav-search {
  background: #921b1f;
}

a.icon.icon-home {
  color: #e0e0e0;
}

div.wy-nav-content {
  background: #303841;
}

.wy-nav-content-wrap {
  background: #303841;
}

div.wy-side-scroll {
  background: #303030;
}

a {
  color: #c77323;
  font-weight: 700;
}

a:hover {
  color: #e8b010;
}

p, li, h1, h2, h3, h4, h5 {
  color: #e0e0e0;
}

h1, h2, h3 {
  margin-top:35px;
}

div.imagerow {
  text-align: center;
}

img.rowthumb {
  width: 200px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

img.centerthumb {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.rst-content code {
  border: none;
  background: #203050;
  font-size: 10pt;
  color: #e8c010;
}

.rst-content code.hljs.cpp {
  border: none;
  background: #203050;
  font-size: 10pt;
  color: #e8c010;
}

.rst-content code.hljs.makefile {
  border: none;
  background: #203050;
  font-size: 10pt;
  color: #e8c010;
}

.hljs-keyword {
  color: #fffdd0;
}

.hljs-number {
  color: #30d515;
}

p.caption {
  background: #202020;
}

